@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,400;0,700;1,400&display=swap');
* {
  --teal: #0099BC;
  --blue: #0078D7;
}

.main-container {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding-left: 4rem;
  padding-right: 4rem;
  padding-bottom: 2rem;
}

li {
  margin-top: 0 !important
}

ul > ul {
  margin-top: 0 !important;
  margin-bottom: 0 !important
}

.navbar {
  margin-top: .5em;
  margin-bottom: .5em;
}

.line {
  height: 1px;
  background-color: lightgrey;
  margin-top: 1em;
  margin-bottom: 1em;
}

.bar {
  width: 1px !important;
  background-color: lightgrey;
  margin-right: 1em;
}

.text-underline {
  text-decoration: underline grey;
}

#nav-name {
  font-weight: bold;
  font-size: 1.6em;
}

#img-me {
  width: 100%;
  padding: .5em;
}

#blog-sidebar {
  border-left: 1px solid lightgray;
  padding-left: 1em
}

@media only screen and (max-width: 600px) {
  #blog-sidebar {
    border: none;
    padding: none;
  }

  .main-container {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 2rem;
  }
}

.project-logo > img {
  width: 100%;
}

a.more-info {
  font-size: .75em;
}

div.project {
  padding-top: 1em;
  padding-bottom: 1em;
}

.text-monospace {
  font-family: monospace;
}

pre,
code,
kbd,
samp,
tt{
  font-family:monospace,monospace;
  font-size:1em;
}

a.nav-icon {
  width: 1.8em;
  height: 1.8em;
  margin-left: .4em;
  margin-right: .4em;
  padding: .2em;
  border-radius: .25em;
}

figure.figure > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.note {
  font-size: .75em;
  font-style: italic;
}
