/* Colors:
Celtic Blue (primary): #226CE0
Powder Blue (secondary): #C7EBF0
Beau Blue: #BFD5E2
Heliotrope Grey: #B2ABBF
Black Shadows: #BAA7B0
*/

body {
  font-family: sans-serif;
  margin: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header.navbar {
  padding: 14px;
  background-color: #226CE0;
  width: 100%;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

div#navigator {
  width: 100%;
}

section.navbar-section {
  max-width: 1200px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

a.navbar-title {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5em;
}

a.navbar-title:hover {
  color: #C7EBF0;
}

a {
  text-decoration: none;
  color: #226CE0;
}

a:hover {
  color: #C7EBF0;
}

a.navbar-icon > img {
  padding: 2px;
  border: solid 2px #226CE0;
}

a.navbar-icon > img:hover {
  border: solid 2px #C7EBF0;
  border-radius: 4px;
}

div.navbar-links > a {
  color: white;
  padding: 0px 8px;
}

div.navbar-links > a:hover {
  color: #C7EBF0;
}

div.main-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 16px;
  max-width: 1000px;
}

div.columns {
  display: flex;
  flex-direction: row;
}

div.columns > * {
  margin: 0px 12px;
}

div.columns.columns-vcentered {
  align-items: center;
}

img#me-avatar {
  width: 50%;
  height: auto;
}

h1.blog-title {
  margin-bottom: 6px;
}

hr {
  height: 0px;
  border: none;
  border-bottom: 2px dashed #B2ABBF;
  width: 100%;
}

p {
  margin: 6px 0px;
}

div.figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 16px 0px;
}

div.figure > img {
  max-width: 80%;
  height: auto;
}

code > pre{
  background: #E6E2E9;
  padding: 8px;
  border: 1px solid #BAA7B0;
  border-radius: 4px;
}

p > code {
  background: #E6E2E9;
  border: 1px solid #BAA7B0;
  border-radius: 2px;
}

img.project-img {
  max-width: 20vw;
}
